.expense-tr{
    background-color: white;
    color: black;
}

.btns{
    width: 25%;
}
.btns button{
    padding: 5px 12px;
    margin:8px 3px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btns :first-child{
    
    background-color: rgb(3, 212, 93);
}
.btns :first-child:hover{
    background-color: rgb(0, 187, 81);
}
.btns :nth-child(2){
    background-color: rgb(255, 52, 52);
}
.btns :nth-child(2):hover{
    background-color: red;
}